@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@font-face {
  font-family: design;
  src: url(PlayfairDisplay-VariableFont_wght.ttf);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins',sans-serif;
    scroll-behavior: smooth;
    overscroll-behavior: none;
}

body {
    width: 100%;
    height: 100vh;
    background: #E5DFD2;
    overflow-x: hidden;

}





nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
 padding: 1vh 10vw;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 80px;
  transition: all 500ms;
  z-index: 1;
}


#logo {
  font-size: 20px;
  color: #B8AA87;
}
#logo span{
  color: #E5DFD2;
}
.expanded {
  background: #4C4637;
}


.nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  position: relative;
  text-decoration: none;
  color: #B8AA87;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase;
  overflow: hidden;
  transition: 300ms;
  z-index: 1;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  background-color: #E5DFD2;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: all ease 500ms;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a.active::after {
  width: 100%;
}

.btn-primary {
  color: #E5DFD2;
  transition: 500ms;
  outline: none;
  width: 180px;
  height: 40px;
  background: -webkit-linear-gradient(0deg, transparent 50%, #E5DFD2 50%);
  background-size: 360px;
  border: 2px solid #E5DFD2;
  border-radius: 10px;
  text-transform: uppercase;
}

.nav-links .btn-primary a {
  color: #B8AA87;
}

.btn-primary:hover {
  background-position: 180px 0;
  cursor: pointer;
  border-radius: 25px;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .bar {
  transition: all 300ms ease;
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #B8AA87;
  border-radius: 3px;
}














.hero{
  align-items: center;
    width: 100%;
    height: 98vh;
    color: #4C4637;
    display: flex;
    justify-content: center;
    text-align: center;

}
.hero img {
  margin-top: 250px;
  position: absolute;
  z-index: -1;
  width: 500px;
  height: 500px;
}

.hero .text-hero h1 {
  margin-top: 100px;
  font-family: "design";
  font-size: 7rem;
  line-height: 2;
  margin: 0;

}


.aboutme {
    height: 90vh;
    background: #E5DFD2;
    display: flex;
    font-size: 5;
}
    .aboutme-container {
        align-items: center;
        justify-content: space-around;
        display: flex;
        width: 100%;
      }
  
      .aboutme-container h1 {
        color: #4C4637;
        font-size: 3rem;
        margin-left: 50px;
        line-height: 1;
        width: 30%;
      }
  
      .aboutme-container p {
        width: 70%;
        font-size: 1.5rem;
        color: #4C4637;
      }











.portfolio {
    width: 100%;
    margin-bottom: 200px;
  }
  .demo-text {
    font-size: clamp(8rem, 15vw, 5rem);
      line-height: 1;
      color: #4C4637;
  }
  .detailss h1 {
    font-size:clamp(2em, 4vw, 6em);
    color: #4C4637;
    padding-bottom: 20px;
  }
  
  .detailss p {
    background-color: #B8AA87;
    font-size:clamp(1.4em, 2.5vw, 5em);
    line-height:1.2;
    color: #4C4637;
    font-size: 1.4em;
  }
  
  
  .detailss {
    display:flex;	
  }
  
  .left {
    width:50%;
  }
  
  .right {
    height:100vh;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  .right:hover{
    cursor: pointer;
  }
  
  .desktopContent {
    margin:auto;
    width:80%;
  }
  
  .desktopContentSection {
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
  }
  .popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 9999;
  }
  
  
  
  .desktopPhotos {
    margin-top: 100px;
    width:40vw;
    height:40vw;
    border-radius:20px;
    position:relative;
    overflow:hidden;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
  }
  
  .desktopPhoto {
    position:absolute;
    width:120%;
    height:100%;
  }
  
  
  .red{
    background: url(squad.png);
    padding-right: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .green {
    background: url(nicadmin.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .pink {
    background: url(medicio.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
 
  .graph-paper { 
    background-size: 60px 60px;
    background-image: linear-gradient(to right, #4C4637 1px, transparent 2px),
                      linear-gradient(to bottom, #4C4637 1px, transparent 2px);
    width: 100%;
    height: 300vh;

  }




  
  
  
  
  
  
  
  .project-work {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 5rem;
    overflow: hidden;
  }
  .project-work h3{
    margin-bottom: 100px;
    font-family: 'design';
    color: #4C4637;
    font-size: 3rem;
  }
  
  .list-item {
    border-top: 1px solid #4C4637;
    border-bottom: 1px solid #4C4637;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    cursor: pointer;
    position: relative; /* Add position relative */
  }
  
  .list-item:hover img {
    transform: scale(0.5);
    z-index: 1; 
  }
  
  .list-item img {
    border-radius: 20%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; 
    transition: transform 0.3s ease, opacity 0.3s ease; /* Add transition */
  }
  
  .list-item h2 {
    margin: 0;
  }
  
  .btn {
    padding: 0.5rem 1rem;
    border: 1px solid #4C4637;
    border-radius: 4px;
    color: #4C4637;
    background-color: transparent;
    align-self: flex-end; 
  }
  
  .btn:hover {
    background-color: #B8AA87;
    color: #E5DFD2;
  }

  



.gallery{
  margin-bottom: 100px;
}

  


  .gallery-track {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.25rem;
    padding: 0.25rem;
    background-color: #4C4637;
  }
  
  .card {
    height: 400px;
    position: relative;
    overflow: hidden;
    flex: 0 0 auto;
    margin-right: 20px;
    scroll-snap-align: center;
    scroll-snap-align: start;
  }
  
  .card-image-wrapper {
    overflow: hidden;
    border-radius: 10px; 
  }
  
  .card img {
    width: 100%;
    display: block;
  }


  .footer{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    line-height: 1.2;
    background-color: #4C4637;
  }
  .footer h2{
    font-size: 11rem;
    font-family: "design";
    color: #E5DFD2;
  }
  .footer p{
    font-size: 1rem;
    line-height: 2;
    color: #E5DFD2;
  }












  @media (max-width: 900px) {
    .hamburger {
      display: block;
    }
  
    .nav-links ul {
      background-color: #4C4637;
      position: fixed;
      top: 80px;
      left: 0px;
      gap: 0;
      flex-direction: column;
      text-align: center;
      width: 100%;
      transition: all 300ms ease;
      clip-path: circle(0% at 100% 0%);
    }
  
    .nav-links li {
      margin: 0.5rem 0;
      opacity: 0;
      transform: translateY(25px);
    }
  
    .nav-links button {
      margin: 0.5rem 0;
      opacity: 0;
      transform: translateY(25px);
    }
  
    .aligner-flex {
      flex-direction: column;
      padding: 0 30px;
      width: 100%;
    }
  
    .left {
      width: 100%;
      text-align: center;
    }
  
    .info {
      width: 100%;
      text-align: center;
    }
  
    h1 {
      font-size: 9vw;
    }
  
    .section-landing img {
      display: none;
    }
  
    .img-container .mask {
      width: 100%;
    }
  
    .img-container .info {
      width: 100%;
    }
  
    .img-container:nth-child(even) .info {
      text-align: left;
    }
  }
  
  

  